.egg{
    width: 200px;
    height: 200px;
    border-radius: 300px;
    background-color: red;
    -webkit-transition: all 1s ease-out 0.5s;
    -moz-transition: all 1s ease-out 0.5s;
    -o-transition: all 1s ease-out 0.5s;
    transition: all 1s ease-out;
}

body{
    padding-top: 25px;
}
.egg:hover  ~ div.dick{
    width: 700px; 
}
