/nbproject/private/private.properties
/nbproject/project.properties
/nbproject/project.xml
/public_html/exercise1/solution/Vova/nbproject/private/
/HTML5Application/nbproject/private/
/public_html/html&css/exercise2/telller/telller/nbproject/private/
/public_html/js/exercise3/telller/angular-seed/app/bower_components 
/public_html/js/exercise3/telller/angular-seed/node_modules
/public_html/js/exercise3/telller/angular-seed/app/bower_components