    <h1>Бі квадратне рівняння</h1>
    <input type="text" id="txt" ng-model='vc2.a'/> Х<sup>2</sup> + 
    <input type="text" id="txt1" ng-model='vc2.b'/> X + 
    <input type="text" id="txt2" ng-model='vc2.c'/> = 0 <br> 
    
    <button ng-click="vc2.getResult()" id="button">get result</button>
    
    <div ng-show='vc2.x1 || vc2.x2'>
        <br> Решение: <br />
        {{vc2.a1 + 'x'}} <sup>2</sup> + 
        {{vc2.b1 + 'x+' + vc2.c1 + '= 0'}}
        <br> Найдем дискриминант квадратного уравнения: </br>
        <span> D = b2 - 4ac = </span> {{vc2.b1}}<sup>2</sup> 
        {{'-4*'+ vc2.a1 +'*' + vc2.c1}} = {{vc2.d}}
        <br> Ответ: </br> 
        <br />
        <span id='res1' ng-show='vc2.x1'>x1: {{vc2.x1}}</span>
        <br />
        <span id='res2' ng-show='vc2.x2'>x2: {{vc2.x2}}</span>
    </div>
   