body{
	overflow-x: hidden;
	}
#move{
   width: 300px;
   height: 300px;
   background: blue;
   border-radius: 400px;
   color: black;
   text-indent: 1500px;
   line-height: 300px;
   text-align: center;
   transition: text-indent 1s ease;
   white-space: pre-line;
 }
#move:hover { color: yellow; text-indent: 0px; }


