h1{
    text-align: center;
}
.text{
	width: 25%;
	margin: 0px auto;
	text-align: justify;
}
.opacity{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 300px;
	width: 100%;
	
	background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
	background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
	
	pointer-events: none;
}